.gradle
.idea
build
*.iml

## VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
out/


bin/
.classpath
.project
.settings/
**/node_modules/**
**/build/**
**/dist/**
**/.cache/**
**/target/**

*.swp
*.scm
*.DS_Store
spark-warehouse
